simulations/SAT6Dsim1_props_knnmean/sim1.mat
simulations/SAT4Dsim1_props/sim1.mat
simulations/SAT6Dsim1_azimelev_R0101deg/sim1 (2).mat
simulations/SAT6Dsim1_azimelev_R0101deg/sim1.mat
simulations/SAT4Dsim1_thmeas_R01/sim1.mat
simulations/SAT6Dsim1_props_decisionTree/sim1.mat
simulations/SAT4Dsim1_props_verygood/sim1.mat
simulations.zip
*.fig
*.eps
*.png
*.jpeg
*.jpg
*.h5
*.mat
*.zip
*.7z
